.header-bg {
    background-color: #FFF9F4;
}

.htext {
    color: #FA804C;
}

.htext2 {
    color: #363958;
}

.buy-button {
    background-color: rgb(15, 15, 240);
}

.shoes-bg {
    background-color: #F1F1F1;
}

.main-bg {
    background-color: #E5E5E5;
}

.benefit-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.benefit-icon {
    width: 70px;
    height: 70px;
}